@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699521550997') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-weizhi:before {
  content: "\e7e6";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-sousuo:before {
  content: "\e63d";
}

.icon-sousuo1:before {
  content: "\e634";
}

.icon-fangxiang-xiangxia:before {
  content: "\e614";
}

.icon-xiala:before {
  content: "\e601";
}

