@font-face {
  font-family: "iconfont"; /* Project id 4330344 */
  src: url('iconfont.woff2?t=1699962220664') format('woff2'),
       url('iconfont.woff?t=1699962220664') format('woff'),
       url('iconfont.ttf?t=1699962220664') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi:before {
  content: "\e600";
}

.icon-sanjiao-copy:before {
  content: "\e603";
}

.icon-jiantoushang:before {
  content: "\e605";
}

.icon-jiantouxia:before {
  content: "\e606";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-ic_search24px:before {
  content: "\e616";
}

.icon-you:before {
  content: "\e601";
}

.icon-zuo:before {
  content: "\e602";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-guanbi1:before {
  content: "\e617";
}

.icon-kefu:before {
  content: "\e644";
}

.icon-fankui:before {
  content: "\e62a";
}

